body {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}

h3 {
  margin-top: 2em;

  &:first-of-type {
    margin-top: 1em;
  }
}

.site {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  gap: 1.5em;
}

[class*="site-"] {
  width: min(100%, 900px);
  padding: 1em;
}

.page-content {
  margin-bottom: 4em;
}

.post-content {
  h2 {
    margin-bottom: 0.125em;
    font-size: 2em;
  }

  p {
    margin-bottom: 1em;
  }
}

.post-date {
  margin-bottom: 2em;
  font-size: 0.75em;
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}